# local buildscript
buildAndTest.sh

# logs ?

logs/

# gradle

.gradle/
build/
out/
classes/

# dependencies

dependencies/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# macOS

.DS_Store